@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>

<partial name="PartialViews/DetailsDeleteEmployeePartialView" />

<a asp-action="Edit" class="btn btn-secondary" asp-route-id= "@Model.Id">Edit</a> |
<a asp-action="Index" class="btn btn-light">Back To list</a>

